html,
body {
  height: 100%;

  font-family: var(--main-font);
  font-style: normal;

  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}
