<header class="header">
    <div class="container">
      <nav class="nav">
        <a href="./index.html" class="logo">
          <div class="logo-main-text-container">
            <span class="logo-main-text">EN</span>
            <span class="enhel-icon"></span>
            <span class="logo-main-text">Hell</span>
          </div>
          <span class="logo-secondary-text"
            ><span class="logo-secondary-text-first-word">Адский</span> английский</span
          >
        </a>

        <ul class="nav-list list">
          <li><a href="" class="link">Программы обучения</a></li>
          <li><a href="" class="link">О нас</a></li>
          <li><a href="" class="link">Варианты обучения</a></li>
          <li><a href="" class="link">Контакты</a></li>
        </ul>

        <a href="" class="link btn btn-light btn--header">Консультация по телефону</a>
      </nav>
    </div>
  </section>
</header>
