<section class="section hero">
  <div class="container">
    <div class="hero-content-container">
      <h1 class="hero-title">Комплексная подготовка к ВНО по английскому языку</h1>
      <div class="hero-descr">
        <span class="hero-descr-firstpart">Просто не будет.</span>
        <span>
          Но ты гарантировано наберешь
          <span class="hero-descr-secondpart--withcolor">+25 баллов</span>
        </span>
      </div>
      <a class="link btn btn-dark btn--hero" href="">хочу на бесплатное занятие</a>
    </div>
    <img src="./assets/images/hero/hero.png" alt="women in the office" />
  </div>
</section>
