.logo {
  // outline: 2px solid black;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.logo:hover {
  opacity: 0.8;
}

.logo-main-text-container {
  // outline: 1px solid green;
  display: flex;
}

.logo-main-text {
  font-weight: 800;
  font-size: 26px;
  line-height: 1.231;
  letter-spacing: 0.04em;
}

.logo-secondary-text {
  // outline: 1px solid orange;

  font-weight: 700;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.logo-secondary-text-first-word {
  color: var(--accent-color);
}

.enhel-icon {
  // outline: 1px solid red;
  display: inline-block;
  content: '';
  width: 22px;
  height: 30px;

  margin-left: 4px;
  margin-right: 4px;

  background-image: url('../assets/images/header/logo-fire.svg');
  background-size: 22px 30px;
  background-repeat: no-repeat;
  background-position: center;

  vertical-align: middle;
}
